.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
  position: relative;
  display: inline-block;
  top: 0;
  margin-top: -11px;
  margin-bottom: -1em;
  font-size: 1.1rem;
  vertical-align: middle;
}

.card-header-danger {
  background: #e2b142 !important;
}

.avatar-img {
  width: 80px; /* or any other size */
  height: 80px; /* this should be the same as width for a perfect circle */
  object-fit: cover; /* this will ensure that the image covers the area without being stretched */
}
