<div class="container">
    <div class="row px-3">
        <div class="col-lg-6">
            <h3 class="text-primary mt-3 fw-bold text-xl"> Update Profile</h3>
        </div>
        <div class="col-lg-6 text-right">
            <button  mat-button (click)="onClose(false)">
                <mat-icon class="mx-0">clear</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="container mt-3 pt-3">
        <!-- <div class="fxt-heading-content">
            <div class="fxt-inner-wrap">
                <div class="fxt-transformY-50 fxt-transition-delay-3">
                                        <a  class="fxt-logo"><img src="assets/img/logo.png" alt="Logo"></a>
                </div>
                <div class="fxt-transformY-50 fxt-transition-delay-4">
                </div>
                <div class="fxt-login-option">
                </div>
            </div>
        </div> -->
        <div class="fxt-form-content justify-content-center" style="height: 100%;">
            <div class="fxt-page-switcher">
                <p class=" mr-3 fw-bold text-center font-bold">Change Password</p>
            </div>
            <div class="fxt-main-form pt-0" style="height: 60%; width:100%;">
                <div class="fxt-inner-wrap">
                    <div class="fxt-form">
                        <form
                                class="mt-6 mx-auto"
                                style="width:35%; "
                                [formGroup]="resetPasswordForm">

                            <div class="row">

                                <mat-form-field class=" w-100" appearance="outline">
                                    <mat-label>Old Password</mat-label>
                                    <input
                                            matInput
                                            placeholder="Enter Old Password"
                                            [formControlName]="'old_password'"
                                            required 
                                            [type]="pwToggle.type">
<button mat-icon-button type="button" matSuffix appPasswordToggle #pwToggle="appPasswordToggle">
                                                <mat-icon>{{ pwToggle.icon }}</mat-icon>
                                                </button>

                                    <mat-error>Old Password Required</mat-error>
                                </mat-form-field>

                                <mat-form-field class=" w-100" appearance="outline">
                                    <mat-label>New Password</mat-label>
                                    <input
                                            matInput
                                            placeholder="Enter New Password"
                                            [formControlName]="'new_password'"
                                            required 
                                            [type]="pwToggle1.type">
<button mat-icon-button type="button" matSuffix appPasswordToggle #pwToggle1="appPasswordToggle">
                                                <mat-icon>{{ pwToggle1.icon }}</mat-icon>
                                                </button>
                                    <mat-error>New Password Required</mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-100" appearance="outline">

                                        <mat-label>Confirm Password</mat-label>
                                        <input
                                                matInput
                                                placeholder="Enter Confirm Password"
                                                [formControlName]="'confirm_password'"
                                                required [type]="pwToggle2.type">
<button mat-icon-button type="button" matSuffix appPasswordToggle #pwToggle2="appPasswordToggle">
                                                <mat-icon>{{ pwToggle2.icon }}</mat-icon>
                                                </button>
                                        <mat-error>Confirm Password Required</mat-error>
                                </mat-form-field>
                                <button class="w-100 btn btn-primary"  (click)="onSubmit()">
                                    Submit
                                </button>

                            </div>

                        </form>
                        <div class="text-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</div>
