/* You can add global styles to this file, and also import other style files */
.card-icon{
    background: #e2b142 !important;
}
.mat-form-field-wrapper{
    padding-bottom: 0px !important;
}
<<<<<<< HEAD

.white-background {
    background-color: white;
=======
.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -11px;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
>>>>>>> 86290031962be19fd89de5fee4fb81fa679aa757
}